<h1>HRPALASH</h1>
<%= link_to "About US", about_path,  data: {name:"about_page", resource:"pages"}, style: "color:green" %>

<%= link_to "Contact US", contact_path, style: "color:green"  %>

<%= link_to "privacy_policy", privacy_policy_path, target:'_blank', style: "color:green" %>

<%= link_to "Terms And Conditions", terms_path , style: "color:green" %>